@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@600&display=swap');

body {
  margin: 0;
  background: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  margin-top: 18px;
  border-bottom: 1px solid #000000;
}

.logo_header {
  margin-top: 13px;
  margin-left: 53px;
  width: 53px;
  height: 23px;
}

.main {
  margin-top: 96px;
  margin-left: 197px;
}

.main_contacts {
  margin-top: 184px;
  margin-left: 197px;
}

.main_on {
  margin-top: 141px;
  margin-left: 197px;
}

.main h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  width: 727px;
  height: 160px;
}

.main_contacts h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  width: 727px;
  height: 160px;
}

.main_on h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color: #252B42;
  width: 727px;
  height: 71px;
}

.main_buttons {
  display: flex;
}

.main_btn_login {
  border: none;
  background: #FF685B;
  border-radius: 5px;
  margin-right: 10px;
  height: 52px;
  width: 128px;
  cursor: pointer;
}

.main_btn_login_on {
  border: none;
  background: #FF685B;
  border-radius: 5px;
  margin-right: 10px;
  height: 52px;
  width: 239px;
  cursor: pointer;
}

.main_btn_login_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin: 0;
}

.main_btn_contacts {
  height: 52px;
  width: 155px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #FF685B;
  cursor: pointer;
}

.main_btn_contacts_on {
  height: 52px;
  width: 228px;
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #FF685B;
  cursor: pointer;
}

.main_btn_contacts_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FF685B;
  margin: 0;
}

.main_cards {
  display: flex;
  margin-top: 96px;

}

.main_cards_elem {
  width: 328px;
  height: 248px;
  background: #FFFFFF;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  margin-right: 30px;
}

.main_cards_elem-data {
  margin-top: 35px;
  margin-left: 40px;
}

.main_cards_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
  margin: 20px 0;
}

.main_cards_hr {
  width: 50px;
  height: 2px;
  background: #E74040;
  margin: 20px 0;
  border: none;
}

.main_cards_text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 20px 0;
}

.header_buttons {
  display: flex;
  margin-right: 70px;
}

.header_buttons_login {
  display: flex;
  align-items: center;
  padding: 8px 60px;
  width: 186px;
  height: 40px;
  background: #FFFFFF;
  border: 2px solid #FF685B;
  box-sizing: border-box;
  border-radius: 7px;
  cursor: pointer;
}

.header_buttons_contacts {
  cursor: pointer;
  border: none;
  margin-right: 49px;
  height: 40px;
  width: 95px;
  background: none;
}

.header_btn_login_name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF685B;
  margin: 0;
}

.header_btn_contacts_name {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin: 0;
}

.modal_form_login {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0, 0, .5);
  display: flex;
  justify-content: center;
  padding-top: 10rem;
}

.modal_form_login-body {
  width: 450px;
}

.login_form_close_btn {
  margin-left: 381px;
  margin-bottom: 20px;
  cursor: pointer;
}

.order_online {
  order: 0;
}

.order_emergency {
  order: 1;
}

.order_cancer {
  order: 2;
}

@media (max-width: 375px) {

  .logo_header {
    margin-left: 10px;
  }

  .header_buttons_contacts {
    margin-right: 10px;
  }

  .header_buttons_login {
    width: 106px;
    height: 36px;
    padding: 6px 20px;
  }

  .header_buttons {
    margin-right: 10px;
  }

  .main {
    margin-left: 10px;
    margin-top: 55px;
  }

  .main h1 {
    font-size: 28px;
    line-height: 39px;
    width: 355px;
    height: 89px;
    margin-bottom: 35px;
  }

  .main_cards {
    margin-top: 29px;
    display: flex;
    flex-direction: column;
  }

  .main_cards_elem {
    margin-left: 24px;
    margin-bottom: 30px;
  }

  .main_cards_elem-data {
    margin-top: 35px;
    margin-left: 34px;
  }

  .order_online {
    order: 1;
  }

  .order_emergency {
    order: 2;
  }

  .order_cancer {
    order: 0;
  }

  .main_cards_text {
    margin-bottom: 35px;
  }

}
